@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

/*common*/
.main-container {
	min-width: 1200px;
	margin: 0 auto;
	font-family: Montserrat, sans-serif;
}
.in-section{
	margin: 0 auto;
	width: 1160px;
	text-align: center;
}
.section-head{
	margin: 0;
	padding-top: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
	color: #4e4e4e;
	text-transform: capitalize;
}
.section-head:after{
	content: '';
	margin-bottom: 70px;
	display: block;
	position: relative;
	width: 76px;
	height: 3px;
	top: 30px;
    left: calc(50% - 38px);
   	border-top: 1px solid #18cfab;
	border-bottom: 1px solid #18cfab;
	transform: skew(75deg);
}
.text-up{
	text-transform: uppercase;
}
.btn{
	width: 166px;
	height: 56px;
	border-radius: 4px;
	border: 0;
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #18cfab;
	color: #fff;
}
.btn:hover{
	background-color: #00cbf6;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}

/*section header*/
.section-header {
	height: 1012px;
	background-image: url("../img/sections-back/section-1(header).jpg");
	background-size: cover;
	background-attachment: fixed;
}
.header{
	height: 120px;
	background-color: rgba(73, 71, 63, 0.6);
}
.header-container{
	margin: 0 auto;
	width: 1160px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo{
	font-size: 32px;
	font-weight: 400;
	color: #fff;
}
.ham{
	font-weight: 700;
}
/*hexagon*/
.hexagon {
	display: inline-block;
	text-align: center;
	width: 66px;
	height: 40px;
	font-weight: 700;
	color: #fff;
	font-size: 40px;
	background: #18cfab;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -23px; 
	left: 0;
	border-left: 33px solid transparent;
	border-right: 33px solid transparent;
	border-bottom: 23px solid #18cfab;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -23px; 
	left: 0;
	border-left: 33px solid transparent;
	border-right: 33px solid transparent;
	border-top: 23px solid #18cfab;;
}
ul.navigation-bar{
	display: flex;	
	margin: 0;
	padding-left: 0;
}
.navigation-item{
	display: flex;
	margin-right: 17px;
	height: 120px;
	border-bottom: 2px solid transparent;
}
.navigation-item:hover{
	border-bottom: 2px solid #18cfab;
}
.navigation-item:hover a{
	color: #18cfab;	
}
.navigation-item a{
	display: inline-block;
	align-self: center;
	font-size: 13px;
	font-weight: 700;
	line-height: 42px;
}
.navigation-item a{
	color: #b9b9b9;
}
.search-icon-head{
	padding-top: 15px;
	font-size: 22px;
}
.over-slogan{
	margin: 245px auto 0;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}
.slogan{
	margin: 45px auto 0;
	font-size: 80px;
	font-weight: 700;
	line-height: 74px;
	color: #fff;
}
.under-slogan{
	margin: 37px auto 150px;
	font-size: 34px;
	font-weight: 300;
	line-height: 74px;
	color: #d4d4d4;
	text-transform: capitalize;
}
.under-button {
	margin: 0 14px 0;
	display: inline-block;
	border-radius: 4px;
	background-color: #fff;
}
.btn-white-border{
	transform: translateY(5px);
}

/*section rectangle*/
.section-rectangles{
	display: flex;
}
.rectangle {
	width: 25%;
	height: 367px;
	border-top: 7px solid #fff;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.rectangle:nth-child(even){
	background-color: #1c2a33;
	border-top: 7px solid #18cfab;
}
.rectangle:nth-child(odd){
	background-color: #18cfab;
}
.png{
	margin-bottom: 29px;
}
img[alt="diamond"], img[alt="gadget"]{
	margin-top: 21px;
}
.under-png{
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

/*section services*/
.section-services{
	height: 560px;
	background-color: #fff;
}
ul.services-list{
	display: flex;
	padding-left: 0;
	margin-bottom: 24px;
}
.btn-service{
	margin: 0 auto;
	width: 193px;
	height: 73px;
	text-transform: capitalize;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #f8fcfe;
	outline: none;
	cursor: pointer;
	color: #717171;
}
.btn-service-active{
	position: relative;
	background: #18cfab;
	border: 1px solid transparent;
	color: #fff;
}
.btn-service-active:after{
	content: "";	
	position: absolute;
	display: block;
	width: 0;
	height: 6px;
	top: 114%;
	left: 50%;	
	transform: translate(-50%,-50%);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 13px solid #18cfab;
}
.img-service{
	display: inline-block;
	width: 193px;
	height: 140px;	
}
.text-service{
	margin: 0;
	margin-left: 20px;
	display: inline-block;
	width: 940px;	
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	text-align: justify;
	vertical-align: top;
	color: #777;		
}

/*section ready*/
.section-ready{
	height: 474px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/sections-back/section-2.jpg");
	background-position: center;
	background-size: cover;
}
.section-ready-head{
	margin: 0;
	padding-top: 126px;
}
.section-ready-text{
	margin: 35px 0 80px;
	line-height: 40px;
	color: #d8d8d8;
}

/*section amazing-work*/
.section-amazing-work{
	background-color: rgb(248, 252, 254);
}
ul.photo-work-navigation{
	margin: 0 auto 70px;
	padding-left: 0;
	
	display: flex;
	justify-content: center;
}
.btn-photo-work{
	padding: 0 25px;
	height: 58px;	
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	outline: none;
	cursor: pointer;
	color: #717171;	
}
.btn-photo-work-active{
	border-top: 3px solid #18cfab;
	color: #18cfab;
}
.photo-collection{
	margin: 0 auto;
	padding-bottom: 70px;
	width: 1140px;
	
	display: flex;
	flex-wrap: wrap;	
}
.hidden-block{
	margin: 0 auto;
	width: 284px;
	height: 204px;
	position: relative;
	bottom: 210px;
	background-color: #f8fcfe;
	border-top: 3px solid #18cfab;
	opacity: 0;
}
.photo-work-with-hidden-block{
	width: 284px;
	height: 206px;
}
.photo-work-with-hidden-block:hover .hidden-block{
	opacity: 1;
}
.link-search{
	margin: 46px 0 25px;
}
.link-icon, .search-icon{
	margin: 0 3px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border: 1px solid #18cfab;
	border-radius: 50%;
	background-color: #fff;
	color: #18cfab;
}
.link-icon:hover, .search-icon:hover{
	background-color: #18cfab;
	color: #fff;
}
.creative-design{
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
}
.design-type{
	margin: 0;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-transform: capitalize;
	color: #8a8a8a;
}
img.photo-work{
	width: 284px;
	height: 206px;
}
.load-more{
	margin: 0 auto 100px;
}
.fa-plus{
	margin-right: 16px;
}

/*section breaking news*/
.section-breaking-news{
	height: 958px;
	background-color: #fff;
}
.photo-news{
	margin: 0 auto;
	width: 1160px;
	height: 606px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.figure-item{
	margin: 0;
	width: 263px;
	height: 280px;
}
.photo-sign{
	margin-top: -4px;
	height: 72px;
	background-color: #f8fcfe;
	border: 1px solid #ededed;
	text-align: left;
}
.sign{
	margin: 0;
	margin-left: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 38px;
	text-transform: capitalize;
	color: #717171;	
}
.comment{
	margin: 0;
	margin-left: 19px;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	color: #777;
}
.comment-add{
	padding-right: 6px;
}
.comment-quantity{
	padding-left: 6px;
}
.angle-link {
	position: relative;
	bottom: 282px;
	left: 195px;
	width: 68px;
	height: 66px;
	box-sizing: border-box;
	background: #203e38;	
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}
.data{
	padding-top: 7px;
}
.data, .month{
	margin: 0;
}
.figure-item:hover .sign {
	color: #18cfab;
}
.figure-item:hover .angle-link {
	background-color: #18cfab;
}

/*section people say*/
.section-people-say{
	height: 852px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sections-back/section-3.jpg");
	background-size: cover;	
}
.people-say-head{
	text-transform: none;
	color: #fff;
}
.slider-for{
	text-align: center;
}
.slider-nav{
	margin: 0 auto;
	width: 422px;	
}
.people-speach{
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: #bbb;
}
.people-speach:before{
	content: '\275B\275B';
	display: block;
	font-size: 80px;
	color: #18cfab;
	
	position: relative;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.full-name{
	margin: 0 auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 27px;
	text-transform: uppercase;
}
.profession{
	margin: 7px auto 25px;	
	font-size: 13px;
	font-weight: 300;
	line-height: 27px;
	color: #bbb;
}
.people-say-photo{
	display: inline-block;
	width: 142px;
	height: 142px;
	border: 3px solid #2bc9ad;
	box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}
.slider-nav img{	
	margin: 19px;
	width: 58px;
	height: 58px;
	border-radius: 50%;	
	box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

/*section masonry*/
.section-gallery{
	background-color: rgb(248, 252, 254);
}
.masonry-container{
	margin: 0 auto;
	padding-bottom: 70px;
}
.masonry-block{
	margin: 8px;
}
.item{
	width: 370px;
}
.expand-search{
	width: 100%;
	height: calc(100% - 3px);
	position: absolute;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
}
.masonry-block:hover .expand-search{
	opacity: 1;
}
.expand-icon, .masonry-search-icon{
	margin: 0 3px;
	display: inline-block;
	width: 40px;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	border: 1px solid #18cfab;
	border-radius: 3px;
	background-color: #0cbad6;
	color: #fff;
}

/*section footer*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 65px;
	background-color: #22353f;
}
.footer p{
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	color: #aeaeae;
}

/*common*/
.green-text{
	color: #18cfab;
}